@tailwind base;
@tailwind components;
@tailwind utilities;

.red_button {
  @apply inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-white transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-zinc-950 focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 dark:ring-offset-zinc-950 dark:focus-visible:ring-zinc-300 bg-red-500  text-zinc-50 hover:bg-red-500/90 dark:bg-red-900 dark:text-zinc-50 dark:hover:bg-red-900/90 h-10 px-4 py-2;
}

.green_button {
  @apply inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-white transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-zinc-950 focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 dark:ring-offset-zinc-950 dark:focus-visible:ring-zinc-300 bg-green-500  text-zinc-50 hover:bg-green-500/90 dark:bg-green-900 dark:text-zinc-50 dark:hover:bg-green-900/90 h-10 px-4 py-2;
}

.white_button {
  @apply inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-white transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-zinc-950 focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 dark:ring-offset-zinc-950 dark:focus-visible:ring-zinc-300 bg-zinc-900 text-zinc-50 hover:bg-zinc-900/90 dark:bg-zinc-50 dark:text-zinc-900 dark:hover:bg-zinc-50/90 h-10 px-4 py-2;
}
.ant-picker-content > thead > tr > th,
.ant-picker-calendar-date-value {
  text-align: left;
}
.HotelListing {
  font-weight: bold;
}

@font-face {
  font-family: 'banco';
  src:
    local('banco'),
    url('fonts/Banco_Regular.ttf') format('opentype') tech(color-COLRv1),
    url('fonts/Banco_Regular.ttf') format('opentype'),
    url('fonts/Banco_Regular.ttf') format('ttf');
}
.nav_head {
  font-family: 'banco', Fallback, sans-serif;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  background-color: transparent;
  font-size: 2.5rem;
  line-height: 2rem;
  text-align: center;
  color: yellow;
}
@media (max-width: inherit) {
  .nav_head {
    font-size: 1.6rem;
    /* padding-left: 4rem; */
  }
}
.maincard {
  @apply w-full rounded-lg border border-zinc-200 bg-white/75 text-zinc-950 shadow-sm dark:border-zinc-800  dark:text-zinc-50;
}
.LocationCardStyle {
  @apply flex flex-col rounded-md p-1 shadow-none gap-1 dark:border-yellow-100;
}
.itembox {
  border: 1px solid rgba(255, 255, 0, 0.101);
  border-radius: 5px;
  padding: 3px;
  flex-wrap: nowrap;
}
.HourCardStyle {
  @apply rounded-md p-3 shadow-none flex-auto gap-3 dark:border-yellow-500;
}
.bookingcard {
  @apply rounded-md p-3 shadow-none flex-auto gap-3;
}
.bookingcardtitle {
  @apply p-2 gap-3 flex-auto space-x-2 space-y-2;
}
.daytotal {
  @apply text-start;
}
.occasionbox {
  @apply p-1 max-w-fit;
}
.menulinks {
  @apply text-center bg-gradient-to-b from-zinc-950 to-yellow-500 rounded-lg;
}
.itembox {
  border: 1px solid yellow;
  border-radius: 5px;
  padding-right: 2px;
  padding-left: 2px;
}
::file-selector-button {
  display: none;
}
@keyframes rotate-180 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}

.rotate-180 {
  animation: rotate-180 0.5s forwards;
}

.rbc-btn-group {
  margin: 10px;
}

.rbc-today {
  background-color: #5e2a00ad !important;
}

/* body {
  background-image: url('public/SunBuggy-SteelBannana.jpg');
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;
  background-size: 100%;
} */
