@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Name: custom color palette
       Author: Ilias Ism
       URL: https://gradient.page */

    /* CSS: .bg-gradient { background: var(--gradient) } */
    --gradient: linear-gradient(to top left,#FF8008,#FFC837);

    --background: 31 65% 4.16%;
    --foreground: 31 10% 97.6%;

    --muted: 31 50% 15.600000000000001%;
    --muted-foreground: 31 10% 55.2%;

    --popover: 31 45% 6.76%;
    --popover-foreground: 31 10% 97.6%;

    --card: 31 45% 6.76%;
    --card-foreground: 31 10% 97.6%;

    --border: 31 50% 15.600000000000001%;
    --input: 31 50% 15.600000000000001%;

    --primary: 31 100% 52%;
    --primary-foreground: 31 10% 5.2%;

    --secondary: 31 50% 15.600000000000001%;
    --secondary-foreground: 31 10% 97.6%;

    --accent: 31 50% 15.600000000000001%;
    --accent-foreground: 31 10% 97.6%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 31 10% 97.6%;

    --ring: 31 100% 52%;
  }
}
.red_button {
  @apply inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-white transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-zinc-950 focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 dark:ring-offset-zinc-950 dark:focus-visible:ring-zinc-300 bg-red-500  text-zinc-50 hover:bg-red-500/90 dark:bg-red-900 dark:text-zinc-50 dark:hover:bg-red-900/90 h-10 px-4 py-2;
}

.green_button {
  @apply inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-white transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-zinc-950 focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 dark:ring-offset-zinc-950 dark:focus-visible:ring-zinc-300 bg-green-500  text-zinc-50 hover:bg-green-500/90 dark:bg-green-900 dark:text-zinc-50 dark:hover:bg-green-900/90 h-10 px-4 py-2;
}

.white_button {
  @apply inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-white transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-zinc-950 focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 dark:ring-offset-zinc-950 dark:focus-visible:ring-zinc-300 bg-zinc-900 text-zinc-50 hover:bg-zinc-900/90 dark:bg-zinc-50 dark:text-zinc-900 dark:hover:bg-zinc-50/90 h-10 px-4 py-2;
}
.ant-picker-content>thead>tr>th, 
.ant-picker-calendar-date-value {
  text-align: left;
}
.HotelListing {
  font-weight: bold;
  }

@font-face {
  font-family: "banco";
  src: local("banco"),
    url("fonts/Banco_Regular.ttf") format("opentype") tech(color-COLRv1),
    url("fonts/Banco_Regular.ttf") format("opentype"),
    url("fonts/Banco_Regular.ttf") format("ttf");
}
.nav_head {
  font-family: "banco", Fallback, sans-serif;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  background-color: transparent;
  font-size: 2.5rem;
  line-height: 2rem;
  text-align: center;
  color: yellow;
}
@media (max-width: 640px) {
  .nav_head {
    font-size: 1.6rem;
    /* padding-left: 4rem; */
  }
}